.display-flex-lg {
  display: flex;
}

.display-none-lg {
  display: none;
}

.display-block-lg {
  display: block;
}

.justify-con-btw {
  justify-content: space-between;
}

.nav-bar {
  flex-direction: row;
}

.nav-ul {
  height: auto;
  padding: 8px 16px;
  flex-direction: row;
  width: 75%;
  margin-left: 10%;
}

.nav-ul-li {
  margin: 0 3.5%;
}

.article-paragraph {
  width: 45%;
  margin-left: 65px;
}

.flex-d-row-lg {
  flex-direction: row;
}

.flex-d-col-lg {
  flex-direction: column;
}

.home-page-first-div {
  margin-bottom: 95px;
  padding: 140px;
}

.date-paragraph {
  margin-left: 65px;
}

.location-paragraph {
  margin-left: 65px;
}

.main-program-ul {
  margin: 24px 1px;
  width: 14.5%;
}

.justify-con-cnt-lg {
  justify-content: center;
}

.main-program-ul-li {
  padding: 14px 8px;
}

.featured-speakers-ul {
  width: 100%;
}

.featured-speakers-ul-li {
  width: 50%;
}

.about-paragraph {
  width: 50%;
  margin: 24px auto;
  line-height: 27px;
  padding: 23px;
}

.about-paragraph-2 {
  margin: 2px 0;
}

.summit-image-wrapper {
  width: 60%;
  margin: 0 auto;
}

.summit-img-styles {
  margin: 74px 6px;
}
